[Unit]
Description=Sercora FastAPI API
After=network.target

[Service]
User=simon
Group=simon

WorkingDirectory=/home/simon/sercora/backend

Environment="PATH=/home/simon/sercora/backend/.venv/bin"
EnvironmentFile=-/home/simon/sercora/backend/.env

ExecStart=/home/simon/sercora/backend/.venv/bin/python -m uvicorn app.main:app --host 0.0.0.0 --port 8000

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
